

h1{
    text-align: center;
    padding-bottom: 3%;
}
#slideshow{
    text-align: center;
    alignment: center;
}
#button_contain{
    padding-top: 20%;
    text-align: left;
}
input{
    margin: 1%;
}

#newLeftSide {
    text-align: center;
    alignment: center;
    margin-top: 3%;
}
#newLeftSide input {
    margin-left: 15%;
    margin-top: 10%;
    

}
#info_container{
    margin: 5%;
    margin-right: 33%;
    padding-left: 3%;
    padding-top: 3%;
    background-color: gold;
}
#info_container h2{
    padding-top: -20%;

}
#gender{
    margin-left: 3%;
    margin-right: 1%;
}
.btn_submit{


}
